<div id="container">
  <div id="body">
    <main role="main" class="container">
      <div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p style="text-align: center; font-size: 18px">
              Search for vaccine slots without registration
            </p>
            <br />

            <form (ngSubmit)="getSlots()" [formGroup]="formName">
              <div class="form-group">
               

                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Select state</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         formControlName="states"
                         (keyup)="onKeyState($event.target.value)"
                         [matAutocomplete]="auto1">
                  <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let state of statesListFiltered" [value]="state.state_name" (click)="stateSelected(state.state_id)">
                      {{ state.state_name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <br />

                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Select District</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         formControlName="districts"
                         (keyup)="onKeyDistrict($event.target.value)"
                         [matAutocomplete]="auto2">
                  <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let district of districtListFiltered" [value]="district.district_name">
                      {{ district.district_name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formName.controls.districts.invalid">
                    <span>Please select a district</span>
                  </mat-error>
                </mat-form-field>


                <br />
                <p style="text-align: center">OR</p>

                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Pincode</mat-label>
                  <input formControlName="pincode" matInput />
                  <mat-error
                    *ngIf="
                      formName.controls.pincode.touched &&
                      formName.controls.pincode.invalid
                    "
                  >
                    <span>Enter valid pincode</span>
                  </mat-error>
                </mat-form-field>

                <p style="text-align: center">
                  <button mat-raised-button type="submit">Search</button>
                </p>
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>

        <div class="row" style="margin-top: 30px">
          <div
            class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2"
          >
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Center Name</th>
                    <!-- <th scope="col">State</th>
                  <th scope="col">District</th> -->
                    <th scope="col">Pincode</th>
                    <th scope="col">Min Age</th>
                    <th scope="col">Next Available Date</th>
                    <th scope="col">Number Of Slots</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let slot of slotsListFinal; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ slot.center_name }}</td>
                    <!-- <td>{{slot.state_name}}</td>
                  <td>{{slot.district_name}}</td> -->
                    <td>{{ slot.pincode }}</td>
                    <td>{{ slot.minAge }}</td>
                    <td>{{ slot.earliestDate }}</td>
                    <td>{{ slot.numberOfSlots }}</td>
                  
                  </tr>
                </tbody>
              </table>
              <div *ngIf="slotsListFinal.length>0">
                <p style="text-align: center">
                  go to <a href="https://selfregistration.cowin.gov.in/" target="_blank">cowin</a> app to schedule your slot
                </p>
              </div>
            </div>
            <div *ngIf="noSlotsAvailable">
              <p style="text-align: center">
                Currently all slots are booked or no slots available for this selection
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="footer">
    <footer class="footer">
      <div class="container" style="margin-top: 10px; text-align: center">
        <span class="text-muted"
          >made by
          <a href="https://www.linkedin.com/in/ashishjec1994" target="_blank"
            >Ashish</a
          ></span
        >
      </div>
    </footer>
  </div>
</div>
